<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-starts">
    <a class="nav-link active" routerLink="/product/login">Login Reactive</a>
    <a class="nav-link active" routerLink="/product/add-product">Add Products</a>
    <a class="nav-link active" routerLink="/product/view-product">View Products</a>
    <a class="nav-link active" routerLink="/product/update-product/:id">Update Products</a>
    <a class="nav-link active" routerLink="/product/delete-product">Delete Products</a>
    <a class="nav-link active" routerLink="/product/search-product">Search Products</a>

  </div>
</nav>
<router-outlet></router-outlet>